*{
    box-sizing:border-box;
}
body{
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Roboto Condensed', sans-serif,serif;
  
}
.main{
    
    padding: 0 50px;
    max-width: 1100px;
    margin: 0 auto; /*c'est pour center la contenue de la page */
}
/* START TOPBAR */
.topbar{
    background-color: #128c7e;
     position: fixed;
     left: 0;
     right: 0;
     z-index: 20;
    
}
.topbar-nav{
    padding: 13px;
    text-align: center;
   
 
}
.topbar-nav a{
    padding: 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform:uppercase;
}
.topbar-nav  .logo{
    text-transform:capitalize;
    font-size: 23px;

}
.logo{
    margin-right: 60px;
    font-weight: bold;
}
.logo::before{
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    padding-right: 0;
    margin-top: -4px;
    margin-right: -5px;
    vertical-align: middle;
    background: url(../img/WhatsApp-Logo.wine.svg) center center/cover;
}
/*  END TOPBAR */

/* START FOOTER WHATSHAP */
.first-child-footer{
    /* padding-left: 200px; */

}
.pied_de_page{
    
     width: 250px;
}

.footer{
   
   background-color: #273443;
   height:  300px;
   color: #fff;
   padding: 0 150px 0 100px; 
   display: flex;
   justify-content: center;
   clear: both;
                             
  
}
.liste-footer li{
    list-style: none;
}
.liste-footer li a{
    color: inherit;
   text-decoration: none;
   text-transform: capitalize;
   line-height: 5px;
  
}
.title-footer{
    padding-left:40px;
    text-transform: uppercase;
    
}
.copiright{

    background-color: #1c1e21;
    width: 100%;
     height: auto;
     color: #fff;
     display: flex;
     justify-content: space-around;

} 
.h4-2 a{
    text-decoration: none;
    color: inherit; 
}
/* END FOOTER */

 /* START PAGE INDEX */
.main-whatshap1{
    padding-top: 100px;
    padding-left: 100px;
  
   
}
.section1{
    width: 50%;
    height: 700px;
    display: inline-block;
    float: left;
    padding-right:80px;
    padding-top: 60px;
}
.section1 h2{
    line-height: 43px;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 33px;
   margin:  0;
   
   
}


.section1 p {
    font-size: 18px;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.section1 :nth-child(4){
color: rgba(66, 64, 64, 0.9);
}
.icons p a {
   color:#128c7e;
   text-decoration: none;
   

}
.icons .fa{
    padding-right: 7px;
  

}

.section2{
    width: 45%;
    height: 700px;
    display: inline-block;
    float: left;
    margin: 10px 10px;

}
.section2 img{
    width: 300px;
    height: 550px;

}
.main-whatshap2{
    clear: both;
    padding: 0 10px;
    max-width: 1450px;
    margin: 0 auto;
    background-color: red;
    
    
}
.card1{

    width: 48%;
    height: 850px;
    float: left;
    padding-right:80px;
    padding-top: 60px;
    margin-right: 20px;
    background-color: #D8E8EA;
}
.card1 h1{
    font-size: 34px;
    line-height: 44px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    padding-bottom: 16px;
}
.card1 p{
    font-size: 18px;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    padding-left: 35px;
}
.card1 p a{
    color: #39b3ed;
    text-decoration: none;
}
.card1 p a:hover{
    text-decoration: underline;
}
.card1 p img{
    width: 400px;
    height: 400px;
    padding-top: 30px;
}


.card2{
    width: 48%;
    height: 850px;
    float:left;
    padding-right:80px;
    padding-top: 60px;
    margin-left: 20px;
    background-color: #E7F0E4;
    position: relative;
}
.cercle{
    width: 350px;
    height: 350px;
    background-color: #77d7c8;
    border-radius: 50%;
    position: absolute;
    left: 10em;
   
    
}
.hors-cercle{
    clear: both;
    position: absolute;
    top: 28em;
   text-align: center;
}
.hors-cercle h3 {
    color: #5E5E5E;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: .15em;
    margin-bottom: 2px;
    line-height: 34px;
    font-family: 'Roboto', sans-serif;
}
.hors-cercle h1{
    font-size: 34px;
    line-height: 44px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 16px;
}
.hors-cercle p{
  
    text-align: center;
    color: #1c1e21;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
    
}
.button{
    position: relative;
    clear: both;
    height: 200px;
    padding: 0 60px;
}

.button2{
    position: absolute;
    top: 70px;
    left: 640px;
    width: 300px;
    height: 50px;
    border: 2px solid #77d7c8;
    background-color: #fff;
    border-radius: 30px;
    color:#128c7e ;
    text-transform: uppercase;
    font-size: 16px;


}
/* END PAGE INDEX */
/* START PAGE FONCTIONNALITE */
.main-fonctionnalite{
    clear: both;
    padding: 60px 10px 0 10px;
    
    max-width: 1450px;
    margin: 0 auto;
    position: relative;
    
    
}
.cardf1{

    width: 48%;
    height: 950px;
    float: left;
    padding-right:80px;
    padding-top: 60px;
    margin-right: 20px;
    background-color: #FCF2C6;
}
.cardf1 p{
    color: #5E5E5E;
    text-transform:uppercase ;
    font-size: 16px;
    font-weight: 400;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.cardf1 h2{
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    line-height: 15px;
    margin-bottom: 10px;
    padding-left: 50px;
}
.cardf1 :nth-child(3){
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
    padding: 0 70px;
}
.cardf1 p:last-child{
    font-size: 14px;
    text-align: center;
    letter-spacing: normal;
    text-transform: capitalize;
    padding-left: 3px;

}

.cardf1 p img{
    width: 300px;
    height: 600px;
    padding-top: 30px;
}


.cardf2{
    width: 48%;
    height: 720px;
    float:left;
    padding-right:80px;
    padding-top: 60px;
    margin-left: 20px;
    background-color: #E7F0E4;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.cardf2 h3 {
    color: #5E5E5E;
    text-align: center;
    letter-spacing: 2px; 
}
.cardf2 h2{
    text-align: center;
    line-height: 20px;
    font-size: 28px;
    font-weight: 400;
    color:#1C1E21;
}
.cardf2 p{
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    color: #5E5E5E;
    padding: 0 60px;
}
.cardf2 img{
    width: 120px;
    height: 120px;
}
.images{
    position: relative;
}
.cardf2 .img1{
    position: absolute;
    left: 255px;;
}.cardf2 .img2{
    position: absolute;
    left: 150px;
    top: 90px;
}
.cardf2 .img3{
    position: absolute;
    left: 255px;
    top: 190px;
}
.cardf3{
    width: 48%;
    height: 720px;
    float:left;
    padding-right:80px;
    padding-top: 60px;
    margin-left: 20px;
    margin-top: 30px;
    background-color: #F0F4F9;
    position: relative;
    font-family: 'Roboto', sans-serif;

}
.cardf3 h3 {
    color: #5E5E5E;
    text-align: center;
    letter-spacing: 2px; 
}
.cardf3 h2{
    text-align: center;
    line-height: 20px;
    font-size: 28px;
    font-weight: 400;
    color:#1C1E21;
}
.cardf3 p{
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    color: #5E5E5E;
    padding: 0 60px;
}
.cardf3 img{
    width:400px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 350px;
}
.cardf4{
    width: 47%;
    height: 720px;
    float:left;
    padding-right:80px;
    padding-top: 60px;
    background-color: #D8E8EA;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 1050px;
}
.cardf4 h3 {
    color: #5E5E5E;
    text-align: center;
    letter-spacing: 2px; 
}
.cardf4 h2{
    text-align: center;
    line-height: 20px;
    font-size: 28px;
    font-weight: 400;
    color:#1C1E21;
}
.cardf4 p{
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    color: #5E5E5E;
    padding: 0 60px;
}
.cardf4 p:nth-child(4){
    font-size: 14px;
    text-align: center;
    letter-spacing: normal;
    padding-left: 4px;
    padding-right: 1px;
    

}
   
.cardf4 img{
    width: 400px;
    height: 250px;
    position: absolute;
    bottom: 0;
    right: 150px;
}
.cardf5{
    width: 48%;
    height: 850px;
    float:right;
    padding-right:80px;
    padding-top: 60px;
    margin-right: 20px;
    margin-top: 30px;
    background-color: #E7F0E4;
    position: relative;
   
}
.cercle{
    width: 350px;
    height: 350px;
    background-color: #77d7c8;
    border-radius: 50%;
    position: absolute;
    left: 10em;
   
    
}
.hors-cercle{
    clear: both;
    position: absolute;
    top: 28em;
   text-align: center;
}
.hors-cercle h3 {
    color: #5E5E5E;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: .15em;
    margin-bottom: 2px;
    line-height: 34px;
    font-family: 'Roboto', sans-serif;
}
.hors-cercle h1{
    font-size: 34px;
    line-height: 44px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 16px;
}
.hors-cercle p{
  
    text-align: center;
    color: #1c1e21;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
    
}
.cardf6{
    width: 48%;
    height: 800px;
    float: left;
    padding-right:80px;
    padding-top: 60px;
    margin-right: 20px;
    margin-top: 270px;
    background-color: #FCF2C6;
    position: relative;
}
.cardf6 img{
    width: 400px;
    height: 450px;
    position: absolute;
    left: 140px;
    top: 0;
}
.div-cardf6{
    position: absolute;
    top: 460px;
    
}
.cardf6 h3 {
    color: #5E5E5E;
    text-align: center;
    letter-spacing: 2px; 

}
.cardf6 p{
    color: #5E5E5E;
    text-transform:uppercase ;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 20px 70px;  
    text-transform: capitalize;                                   
    
}
.cardf6 h2{
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    line-height: 15px;
    margin-bottom: 10px;
    padding: 10px 60px;
}
.cardf7{
    width: 48%;
    height: 600px;
    float: left;
    padding-right:80px;
    padding-top: 60px;
    margin-left: 17px;
    margin-top: 30px;
    background-color: #D8E8EA;;
    position: relative;
}
.cardf7 img{
    width: 350px;
    height: 300px;
    position: absolute;
    left: 160px;
    top: 0;
}
.div-cardf7{
    position: absolute;
    top: 340px;
    
}
.cardf7 h3 {
    color: #5E5E5E;
    text-align: center;
    letter-spacing: 2px; 

}
.cardf7 p{
    color: #5E5E5E;
    text-transform:uppercase ;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 20px 70px;  
    text-transform: capitalize;                                   
    
}
.cardf7 h2{
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    line-height: 15px;
    margin-bottom: 10px;
    padding: 10px 60px;
}
.cardf8{
    width: 48%;
    height: 680px;
    float: left;
    padding-right:80px;
    padding-top: 60px;
    margin-top: -410px;
    background-color: #FCF2C6;
    position: relative;
    
}

.cardf8 h3 {
    color: #5E5E5E;
    text-align: center;
    letter-spacing: 2px; 

}
.cardf8 p{
    color: #5E5E5E;
    text-transform:uppercase ;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 20px 60px 0px 60px;  
    text-transform: capitalize;                                   
    
}
.cardf8 h2{
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    line-height: 15px;
    margin-bottom: 10px;
    padding: 10px 15px 10px 65px;
}
.cardf8 img{
    width: 350px;
    height: 300px;
    position: absolute;
    left: 160px;
    top: 370px;
    bottom: 0;
}

/* END PAGE FONCTIONNALITE */
/* START PAGE SECURITE */
.baniere{
    height: 400px;
    width: 100%;
    background: url("../img/baniere.png") center center/cover;
}
.couverture{
    width: 100%;
    background-color: #f0f4f9;


}
.container{
          
background-color: #fff;
padding: 50px 180px;
margin: 0 auto;
max-width: 1200px;
position: relative;
font-family: 'Roboto', sans-serif;
color: #1c1e21;
overflow: hidden;
}
.container h1{
    font-size: 34px;
    line-height: 44px;
    font-weight: 700;

}
.container h2{
    font-size: 33px;
    line-height: 43px;
    font-weight: 400;
}
.container p{
    font-size: 18px;
    line-height: 26px;
}

.cercle2{
    width: 350px;
    height: 350px;
    background-color: #77d7c8;
    border-radius: 50%;
    position: absolute;
    left: 450px;
  
   
    
}

.apres-lecercle{
    margin-top: 380px;
}
.nos-service2{
    clear: both;
}
.nos-service1 h4, .nos-service2 h4{
    font-weight: 400;
}
.nos-service1 p .nos-service2 p{
    font-size: 14px;
    line-height: 18px;
}
.communication{
    float: left;
    width: 48%;
    height: auto;
}
.communication img{
    width: 180px;
    height: 180px;
  
}
.communication p{
    width: 300px;
}
.confidentialaite{
    float: left;
    width: 48%;
    height: auto;
}
.confidentialaite img{
    width: 180px;
    height: 180px;
  
}
.confidentialaite p{
    width: 300px;
}
.verifiication{
    float: left;
    width: 48%;
    height: auto;
}
.verifiication img{
    width: 180px;
    height: 180px;
  
}
.verifiication p{
    width: 300px;
}
.savoire-plus{
    float: left;
    width: 48%;
    height: auto;
}
.savoire-plus img{
    width: 180px;
    height: 180px;
  
}
.savoire-plus p{
    width: 300px;
}

/* END PAGE SECURITE */
/* START PAGE TELECHARGER */
.main-telecharger{
    padding: 20px 30px;
    max-width: 1500px;
    margin: 0 auto;

}
.telephone{
    width: 48%;
    height: 1000px;
    float: left;
    padding-right:80px;
    padding-top: 60px;
    margin-right: 20px;
    background-color: #D8E8EA;
    position: relative;
    
}
.telephone img ,.telephone img{
    width: 180px;
    height: 350px;
}
.android {
    position: absolute;
    left: 70px;
    height: 430px;
}
.iphone{
    position: absolute;
    right: 70px;
    height: 430px;
}
.button-android ,.button-iphone{
    display: block;
    position: absolute;
    bottom: 10px;
    left: 40px;
    background-color: #128c7e;
    width: 110px;
    height: 50px;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}
.telephone h1{
    text-align: center;
    padding: 20px 250px;
    color: #1C1E21;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
   

}
.telephone .h3{
    position: absolute;
    bottom: 140px;
    padding: 10px 130px 70px 130px;
    font-size: 24px;
    text-align: center;
    line-height: 34px;
    color: #1c1e21;
    font-weight: 400;
}
.telephone .p2{
    position: absolute;
    bottom: 130px;
    font-size: 16px;
    line-height: 20px;
    padding-top: 30px;
    padding-left: 60px;
    padding-right:60px;
    font-weight: 400;
    color: #5E5E5E;
    text-align: center;

}
.ordinateur{
    width: 48%;
    height: 1000px;
    float: left;
    margin-left: 20px;
    padding-top: 100px;
    background-color: #FCF2C6;
    position: relative;
    
}
.ordinateur h2{
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center;
    color: #1C1E21;
    padding-bottom: 50px;
    
}
.ordinateur .img1{
    width: 400px;
    height: 250px;
    position: absolute;
    left: 140px;
}
.ordinateur .par1{
   position: absolute;
   top:  480px;
   font-size: 16px;
    line-height: 20px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    font-weight: 400;
    color: #5E5E5E;
  
}
.ordinateur .par2{
    position: absolute;
    top: 550px;
    font-size: 16px;
    line-height: 20px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    font-weight: 400;
    color: #5E5E5E;
 
 }
 .ordinateur .btn-telecharger{
    position: absolute;
    top:650px;
    left: 160px;
    background-color: #128c7e;
    width: 370px;
    height: 50px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    
   
 }
 .ordinateur .img2{
    position: absolute;
    top:  730px;
    left: 260px;
    width: 180px;
    height: 50px;
 }
 .Windows-64{
    position: absolute;
    top: 830px;
    
 }
 .Windows-64, .Windows-32{
    text-decoration: none;
    color: #39b3ed;
    text-align: center;
    padding: 0 90px;
 }
 .Windows-32{
    position: absolute;
    top:  870px;
 }



/* END PAGE TELECHARGER */
/* START PAGE CENTRE D'AIDE */
.baniere-aide{
    height: 400px;
    width: 100%;
    background: url("../img/baniere-aide.jpg") center center/cover;
  padding-top: 50px;
  position: relative;
}
.baniere-aide h1{
    
    padding: 30px 0;
    color: #00c2a4;
    font-size: 32px;
    font-weight: 300;
    line-height: 38px;
    text-align: center;
}
.input-englope{
    position: absolute;
    left: 500px;
    
}
.input-stylise{
    width: 600px;
    height: 50px;
    border-radius: 30px;
    border: none;
    padding-left: 50px;
    position: absolute;
    font-size: 16px;
}
.fa-search{
    position: absolute;
    left: 20px;
    top: 15px;
    z-index: 20;
    color: #5E5E5E;
    font-size: inherit;
    opacity: 0.7;
   

}
.baniere-aide p{
    position: absolute;
    left: 500px;
    top: 250px;
    color: #00c2a4;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

}

.couverture-aide{
    width: 100%;
    background-color: #f0f4f9;


}
.container-aide{
          
background-color: #fff;
padding: 50px 100px;
margin: 0 auto;
max-width: 1200px;
position: relative;
font-family: 'Roboto', sans-serif;
color: #1c1e21;;
overflow: hidden;
}
.container-aide p{
    color: #333;
    font-size: 26px;
    font-weight: 300;
    line-height: normal;
}

.general , .android-aide, .iphone-aide{
    float: left;
    width: 30%;
}

.general ul li ,.android-aide ul li, .iphone-aide ul li {
    list-style: none;
    margin-left: -40px;
}
.android-aide , .iphone-aide{
    margin-left: 20px;

}
.general h2 a ,.android-aide h2 a ,.iphone-aide h2 a {
    text-decoration: none;
    color: #1cb39b;
    font-weight: 300;
    font-size: 24px;
    vertical-align: baseline;
    

}

.general ul li a, .android-aide a, .iphone-aide a{
    text-decoration: none;
    line-height: 27px;
    font-size: 14px;
    color: #5b5f62;
    
}
.last-child{
    color: #b0b0b0 !important;

}
hr{
    display: inline-block;
    width: 100%;
    color: #b0b0b0;
    height: 0.1em;
    opacity: 0.1;
}



/* END PAGE D'AIDE CHARGER */



 
@media screen and (max-width: 1120px) {
    .topbar-nav a[class="1"]{
        display: none;
    
    }
    .humburger{
        width: 50px;
        height: 50px;
        
        display: block;
        padding: 0;
        float: righ t;
        cursor: pointer;
    }
    .humburger1{
        height: 4px;
        width: 35px;
        background-color: #fff;
        box-shadow: 0px 0px 2px rgb(243, 243, 231);
        display: inline-block;
        margin: -20px 0 ;
        

    }
    .humburger2{
        height: 4px;
        width: 35px;
        background-color: #fff;
        box-shadow: 0px 0px 2px rgb(243, 243, 231);
        display: inline-block;
        margin: -10px 0 ;
        
        

    }
    .humburger3{
        height: 4px;
        width: 35px;
        background-color: #fff;
        box-shadow: 0px 0px 2px rgb(243, 243, 231);
        display: inline-block;
        margin: -1px  0;
       

    }
   
    
    
}                                                                                           